@use "./base";
@use "./slider";

.feature-list li {
    margin-bottom: 10px;
    padding-left: 10px;
}
    
.price-tag {
    font-size: 1.8rem;
    font-weight: bold;
}

.table {
    
}

.table-transparent {
    background-color: transparent !important;
    
    th,
    td {
        
        background-color: transparent !important;
        border-color: rgba(255,255,255,0.2) !important;
        color: white !important;
    }
}
